<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django y Aplicaciones Web</title>
</head>
<body>
    <h1>Introduccion a Django</h1>
    <h2>Quien te acompana: {{ nombre }} y su rol es {{ rol }}</h2>
    <p>Django es un framework de desarrollo web escrito en Python</p>
    <ul>
        <li>Python es un lenguaje de programacion versatil y facil de aprender.</li>
        <li>Django permite crear aplicaciones web de forma rapida y segura</li>
        <li>Es ideal para proyectos que necesitan una base solida y escalable</li>
    </ul>
    <p>Con Django, es posible construir sitios web complejos con poco codigo repetitivo</p>
</body>
</html>